.sub-card
{
    width:100%;
    box-shadow:0 0px 4px -1px;
    height:800px; 
    margin:auto;
    margin-top:-14px;
    background-color:#fff;
}

.footer 
{
    width: 100%;
    text-align: center;
    background: #4A4A4A;
    color: #FFF;
    margin-top: 30px;
    padding-bottom: 20px;
    position: relative;
}

.footer-logo
{
    width: 112px;
    height: 23px;
    margin-top: 50px;
    margin-left: 60%;
}

.text
{
    font-size: 16px;
    font-weight: bold;
    line-height: 5;
}

.icon1
{
    height: 30px;
    width: 40px;
    color: #fff;
    font-size: 15px;
}

.icon2
{
    height: 30px;
    width: 40px;
    color: #fff;
    font-size: 15px;
}

.list
{
    color: #fff;
    font-size: 14px;
}

.heading{
	font-size: 24px;
	padding-top: 15px;
	color: #222;
	font-weight: bold;
	margin-left: 30px;
}

.lower
{
    padding-top: 15px;
    margin-left: 30px;
     
}

.lower a
{
    font-size: 16;
    text-decoration: none;
    color: #222;
}

/*.active 
{
    font-weight: bold;
    color:#028062;
    border-bottom: 3px solid #222;
    padding-bottom: 6px;
    
}*/
