.sub-card
{
    width:100%;
    box-shadow:0 0px 4px -1px;
    height:auto; 
    margin:auto;
    margin-top:6px;
    background-color:#fff;
}

.video
{
	  margin-top: 20px;
    margin-left: 60px;
}

.heading
{
	  font-size: 24px;
    margin-block-start: 0.67em;
    margin-block-end: 0;
    margin-inline-start: 60px;
    margin-inline-end: 55px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #222;
}

.time
{
    color: #222;
    font-size: 14px;
    margin-left: 60px;
    
}

.category
{
    color: #222;
    font-size: 15px;
    margin-left: 60px;
}

.topic
{
    color: #222;
    font-size: 15px;
    margin-left: 20px;
}

.footer 
{
    width: 100%;
    text-align: center;
    background: #4A4A4A;
    color: #FFF;
    margin-top: 30px;
    padding-bottom: 20px;
    position: relative;
}

.footer-logo
{
    width: 112px;
    height: 23px;
    margin-top: 50px;
    margin-left: 60%;
}

.text
{
    font-size: 16px;
    font-weight: bold;
    line-height: 5;
}

.icon1
{
    height: 30px;
    width: 40px;
    color: #fff;
    font-size: 15px;
}

.icon2
{
    height: 30px;
    width: 40px;
    color: #fff;
    font-size: 15px;
}

.list
{
    color: #fff;
    font-size: 14px;
}

.suggested
{
        color: #009270;
    font-size: 18px;
    
    line-height: 3;
  
   
    margin-block-start: 325px;
    margin-block-end: -10px;
    margin-inline-start: -118px;
    margin-inline-end: 0;
    font-weight: bold;
}

.image
{
    width: 370px;
    height: 210px;
    border-radius: 6px;
    margin-left: -118px;
    margin-top: 10px;
}

.play-image
{
    margin-left: 16%;
    margin-top: -76%;
    width: 42px;
}

.title
{
    font-size: 16px;
    margin-block-start: -4px;
    margin-block-end: 0em;
    margin-inline-start: -116px;
    margin-inline-end: 75px;
    font-weight: bold;
    color: #222;
    line-height: 1.5;
    margin-bottom: 8px;
}

.button 
{
    border-radius: 4px;
    background-color: #009270;
    color: #fff;
    margin-left: 10px;
    margin-top: 4px;
    font-size: 15px;
    width: 120px;
    height: 40px;
    border: 0px;
    font-weight: bold;
}

.time1
{
    color:#666;
    font-size:13px;
    margin-left: -115px;
    
}  